.liberty {
  border: solid 1px #E0E0E0;
  width: 40px;
  height: 40px;
  margin: 3px;
  border-radius: 25px;
  float: left;
}

body {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.star-point {
  border: solid 1px #B0B0B0;
}

.black {
  background-color: #a82a00;
  border: solid 1px #000000;
}

.white {
  background-color: #00A8A8;
  border: solid 1px #000000;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.center {
  float: none;
  margin-left: auto; margin-right: auto
}