<div class="page-header">
  <h1>{{ page.title }}</h1>
  <hr/>
</div>

<div class="row">
  <div class="span9">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>

    <div>
      <b>Surviving The App Store as an Indie Game Developer</b><br/><br/>

      I've spent the last three years fighting the uphill battle of getting noticed in the App Store. <b><a href="http://leanpub.com/survivingtheappstore">I've decided to write some words about it in book format</a></b>.
    </div>
    <hr>

    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css"/>

    <div id="mc_embed_signup">
      <form action="http://amirrajan.us8.list-manage.com/subscribe/post?u=61936e0179df5da623ee7cdb7&amp;id=f44fb947df"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate" style="padding: 0">
        <label for="mce-EMAIL">Subscribe to Amir Rajan's Blog</label>

        <div>Subscribe to get high signal, low noise entries with regards to software development, doing what you love, and never being content with where you are.</div>

        <div><br/></div>

        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="required" />
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" /> <small>powered by MailChimp</small></div>
      </form>
    </div>

  </div>
  <hr/>
  <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
</div>
